@use '../base/variables' as *;

.footer {
  text-align: center;
  border-radius: $border-gerais $border-gerais 0 0;
  padding: 2.5em 0;
  background-color: $primary-color;
  color: $text-color;
  font-size: 1rem;
  opacity: 0.9; // Suaviza a aparência do texto

  @media screen and (max-width: 768px) {
    padding: 1rem 0; // Ajusta o espaçamento para telas menores
  }
}
