@use '../base/variables' as *;

.footer {
  text-align: center;
  border-radius: $border-gerais $border-gerais 0 0;
  padding: 2.5em 0;
  background-color: $primary-color;
  color: $text-color;
  font-size: 1rem;


 
}
